{% extends 'base.html' %}
{% block title %}{{ data.title }}{% endblock %}
{% block description %}{{ data.title }}{% endblock %}
{% block container %}
<div class="container player-section">
    <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-12 col-12">
            <div class="video-descr">
                <div class="video-title"><h1>О сайте</h1>
                </div>
                <div class="video-chanel-info">
                    <div class="chanel-description-block">
                        На этом сайте вы можете безопасно и конфиденциально смотреть любые видео!
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
{% endblock %}

