{% extends 'base.html' %}
{% block title %}{{ data.title }}{% endblock %}
{% block description %}{{ data.title }}{% endblock %}
{% block container %}
<div class="container player-section">
    <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-12 col-12">
            <div class="video-descr">
                <div class="video-title"><h1>Политика Конфиденциальности</h1>
                </div>
                <div class="video-chanel-info">
                    <style>
                    p{
                        font-size: 13px;
                        line-height: 1.8em;
                    }
                    
                    </style>
                    <div class="chanel-description-block">
                        <p>Ваши обращения важны для нас, и мы рассмотрим их как можно быстрее. Вы можете написать нам на
                            электронную почту mail@clipic.ru.
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
{% endblock %}

