{% extends 'base.html' %}
{% block title %}{{ data.title }}{% endblock %}
{% block description %}{{ data.description }}{% endblock %}
{% block title-search %}{% endblock %}
{% block container %}
<h1 class="jumbotron-heading text-center">{{ data.title }} | {{ data.uploader.name }}</h1>
<hr>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ data.id }}?rel=0"
            allowfullscreen></iframe>
</div>
<hr>
<div class="row">
    <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Информация о видео</span>
        </h4>
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Дата загрузки</h6>
                    <small class="text-muted">{{ data.upload_date }}</small>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Длительность</h6>
                    <small class="text-muted">{{ data.duration }}</small>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Жанр</h6>
                    <small class="text-muted">{{ data.genre }}</small>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Имя автора</h6>
                    <small class="text-muted">{{ data.uploader.name }}</small>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Количество просмотров</h6>
                    <small class="text-muted">{{ data.statistics.views }}</small>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Количество лайков</h6>
                    <small class="text-muted">{{ data.statistics.likes }}</small>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Количество дизлайков</h6>
                    <small class="text-muted">{{ data.statistics.dislikes }}</small>
                </div>
            </li>
        </ul>

    </div>
    <div class="col-md-12 order-md-1">
        {% if data.description %}
        <h4 class="mb-3">Описание к видео {{ data.title }}</h4>
            <pre>{{ data.description }}</pre>
        {% endif %}
    </div>
    <div class="col-md-8 order-md-1">
            <h4>Фото из видео {{ data.title }}</h4>
            <div class="row">
                <div class="col-xs-3 col-sm-3 mb-3">
                    <img src="https://i.ytimg.com/vi/{{ data.id }}/1.jpg" alt="{{ data.uploader.name }} - {{ data.title }}" class="thumbnail img-responsive">
                </div>
                <div class="col-xs-3 col-sm-3 mb-3">
                    <img src="https://i.ytimg.com/vi/{{ data.id }}/2.jpg" alt="{{ data.uploader.name }} - {{ data.title }}" class="thumbnail img-responsive">
                </div>
                <div class="col-xs-3 col-sm-3 mb-3">
                    <img src="https://i.ytimg.com/vi/{{ data.id }}/3.jpg" alt="{{ data.uploader.name }} - {{ data.title }}" class="thumbnail img-responsive">
                </div>
		<div class="col-xs-3 col-sm-3">       
           	    <img src="https://i.ytimg.com/vi/{{ data.id }}/hqdefault.jpg" alt="{{ data.uploader.name }} - {{ data.title }}" class="thumbnail img-responsive" width="120px" height="90px">      
    		</div>
            </div>
    </div>
</div>
{% endblock %}
