{% extends 'base.html' %}
{% block title %}{{ data.title }}{% endblock %}
{% block description %}{{ data.description }}{% endblock %}
{% block container %}
<div class="container player-section">
    <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-12 col-12">
            <div class="embed-responsive embed-responsive-16by9">

                <iframe id="player" class="player embed-responsive-item" frameborder="0" allowfullscreen="1"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        title="YouTube video player" width="100%" height="100%"
                        src="https://www.youtube.com/embed/{{ data.id }}?rel=0?enablejsapi=1&amp;origin=https%3A%2F%2Fkzclip.com&amp;modestbranding=0&amp;iv_load_policy=3&amp;playsinline=1&amp;autoplay=1&amp;rel=0&amp;color=white&amp;theme=dark&amp;showinfo=0&amp;autohide=1&amp;html5=1&amp;widgetid=1"></iframe>
            </div>
            <div class="video-descr">
                <div class="video-title"><h1>{{ data.title }}</h1>
                </div>
                <div class="video-chanel-info">
                    <div class="chanel-logo"></div>
                    <div class="chanel-description-block">
                        <div class="video-chanel-subtitle">{{data.owner}}</div>

                        <div class="subtitle-block">
                            <div class="subtitle-btn-group">
                                <div class="dropdown">
                                </div>
                            </div>
                            <div class="view-group"><span class="views-count">Просмотров: {{data.view_count}}</span>
                                <div class="ratting-progress clearfix"><span style="width:94%;"></span></div>
                                <div class="like-button-group">
                                    <div class="like-dislike"><a class="btn-like" data-toggle="tooltip" title=""
                                                                 data-original-title="Like"><i></i><span
                                            id="l_num">Нравится / Не нравится: </span></a></div>
                                    <div class="like-dislike"><a class="btn-dislike" data-toggle="tooltip" title=""
                                                                 data-original-title="Dislike"><i></i><span
                                            id="disl_num">{{data.sentiment}}</span></a></div>
                                </div>
                            </div>


                        </div>


                    </div>
                </div>

            </div>
            <div class="advert-section row">
                <div class="advert-block col-lg-4  col-md-4 col-sm-4 col-12 col-lg-4 ">
                    <img src="img/money.webp" alt="" class="advert-img">
                    <div class="advert-title"></div>
                </div>


                <div class="decription-video-block">
                    <div class="decription-video-block-nav">
                        <ul class="nav-tabs">
                            <script src="https://yastatic.net/share2/share.js"></script>
                            <div class="ya-share2" data-curtain data-shape="round"
                                 data-services="messenger,vkontakte,facebook,odnoklassniki,telegram,twitter,viber,
                                 whatsapp,moimir,skype,tumblr,evernote,linkedin,lj,blogger,delicious,digg,reddit,pocket,
                                 qzone,renren,sinaWeibo,surfingbird,tencentWeibo"></div>
                        </ul>
                        <div class="decription-video-block-nav-text">
                            <li class="vdesc">
                                {% autoescape off %}
                                    {{desc}}
                                {% endautoescape %}
                            </li>
                            <div class="decription-rubrick"></div>
                            <div class="decription-video-comentCount"><span></span><i id="sw_comm"
                                                                                      class="fa fa-caret-down fa-2x mob_hide"
                                                                                      style=""></i></div>
                            <div class="comment-section">
                                {% for author, comment in comments %}
                                <div class="comments-block">
                                    <div class="comments-block-main">
                                        {% load static %}
                                        <img src="{% static 'img/avatar.jpg' %}" alt="">
                                        <div class="comments-block-text">
                                            <div class="comments-block-title">
                                                <a class="#">{{author}}</a> <span class="comment-day-ago"></span>
                                                <sup class="com_like"></sup>
                                                <div class="comments-block-content">
                                                    {{comment}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-12">
            <div class="advert-section">
                <div class="advert-block">
                    <div class="advert-title"></div>
                </div>
                <div class="advert-block">
                    <div class="advert-title"></div>
                </div>
            </div>
            <div class="next-videos-section">
                <div class="next-videos-nav">
                    <div class="next-videos-nav-text"></div>
                    <div class="next-videos-nav-mode"><span></span>
                    </div>
                </div>
                <div class="next-videos-container row">
                    <div class="col-lg-6  col-md-6 col-sm-6 col-4 next-videos-blocks"><a
                            class="next-videos-blocks_link" href="/video/{{data.id}}"><img
                            src="http://i.ytimg.com/vi/{{data.id}}/mqdefault.jpg"></a></div>
                    <div class="col-lg-6  col-md-6 col-sm-6 col-5 next-videos-blocks"><a
                            class="next-videos-blocks_link_tile">{{data.title}}</a>
                        <p class="next-videos-blocks_chanel">{{data.owner}}</p>
                        <p class="next-videos-blocks_viewCount">{{data.view_count}}</p>

                    </div>
                </div>
            </div>

        </div>
    </div>


</div>
{% endblock %}

