{% extends 'base.html' %}
{% block title %}{{ data.title }}{% endblock %}
{% block description %}{{ data.title }}{% endblock %}
{% block container %}
<div class="container player-section">
    <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-12 col-12">
            <div class="video-descr">
                <div class="video-title"><h1>Политика Конфиденциальности</h1>
                </div>
                <div class="video-chanel-info">
                    <style>
                    p{
                        font-size: 13px;
                        line-height: 1.8em;
                    }
                    


                    </style>
                    <div class="chanel-description-block">
                        <p>Используя контент данного сайта, Вы автоматически соглашаетесь со следующими условиями:</p>

                        <p>1. Просмотр любой информации на страницах данного сайта является исключетельно добровольным,
                            вы берете на себя персональную ответственность за свои действия в соответствии с законами
                            Российской Федерации и международным соглашениям, либо заноконадельства другого государства,
                            в
                            котором физически находится пользователь.</p>

                        <p>2. Сервисы проекта данного сайта предоставлены для общего использования без любых гарантий со
                            стороны администрации портала. Любые изменения в работе сервисов, полное или временное
                            прекращение их работы может осуществляется владельцами проекта в одностороннем порядке и без
                            предупреждений.</p>

                        <p>3. Данный сайт не несет никакой ответственности за любые возможные убытки, понесенные при
                            использовании любой информации на его страницах.</p>

                        <p>4. Администрация данного сайта не несет ответственность за информацию рекламных материалов и
                            любых
                            информационных статей, которые размещены на страницах сайта. Мнения пользователей на наших
                            страницах могут не совпадать с мнением команды сайта.</p>

                        <p>5. Любое частичное или полное копирование воссоздание информации со страниц портала данного
                            сайта
                            запрещено.</p>

                        <p>6. Администрация Портала оставляет за собой право на удаление любой публикации без
                            предоставления комментариев и обсуждения возможных причин.</p>

                        <p>7. Все матералы на которых присутствуют любые марки, названия продуктов, логотипы любых
                            компаний
                            являются торговыми марками соответствующих владельцев.</p>

                        <p>8. Возможное совпадение использоваемых названий с зарегистрированными торговыми марками на
                            страницах данного сайта случайно. Если это нарушает Ваши эксклюзивные права, вы должны
                            сообщить об этом администрацию сайта - страницы с названиями будут исправлены.</p>

                        <p>9. Любое упоминание или ссылка на портал данного сайта в коммерческих целях требуют согласия
                            Администрации сайта.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
{% endblock %}

